body {
  max-width: 1600px;
  font-family: Roboto;
}

.header {
  background-color: #ffffff;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.08);
  height: 72px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(34, 43, 58);
  font-size: 16px;
  line-height: 19.49px;
  font-weight: 800;
  padding: 10px;
}

.menu li a:hover {
  font-size: 16px;
  line-height: 19.49px;
  font-weight: 800;
  opacity: 0.7;
  transition: all 100ms ease-in-out;
}

.header-menu {
  display: flex;
  flex-flow: row nowrap;
}

.enter {
  margin-left: 20px;
  padding: 25px;
  font-size: 16px;
  color: rgb(34, 43, 58);
  line-height: 19.49px;
  font-weight: 800;
}

.enter:hover {
  font-size: 16px;
  line-height: 19.49px;
  font-weight: 800;
  opacity: 0.7;
  transition: all 100ms ease-in-out;
}

@media only screen and (max-width: 800px) {
  .header-menu {
    display: none;
  }
  .container {
    max-width: 550px;
    margin: 0 auto;
  }
}
.block {
  background-color: rgb(41, 109, 206);
  height: 513px;
}

.container {
  display: flex;
}

.text h1 {
  font-size: 38px;
  line-height: 53px;
  color: #ffffff;
  margin-top: 100px;
}
.text h3 {
  font-size: 24px;
  color: rgb(255, 138, 0);
  margin-top: -20px;
}
.text .bttn {
  width: 209px;
  height: 44px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(41, 109, 206);
  border-radius: 3px;
  font-size: 14px;
  line-height: 17.05px;
  font-family: Sarabun;
  color: #ffffff;
  filter: drop-shadow(3px 3px 12px rgba(79, 79, 79, 0.1));
  display: flex;
  justify-content: center;
  align-items: center;
}
.text .bttn:hover {
  color: #000000;
  background-color: #ffffff;
  transition: all 500ms;
}

.bttn {
  position: relative;
}

.buy {
  position: absolute;
  bottom: -30px;
  left: 190px;
}

a {
  text-decoration: none;
}

.karpachoff {
  max-width: 339px;
  max-height: 479px;
  margin: 33px 0px 0px 300px;
}

.text {
  display: flex;
  flex-direction: column;
}

.text .line {
  width: 468px;
  height: 15px;
  border-radius: 3px;
  border: 1px;
  background-color: rgb(243, 243, 243);
  margin-top: 100px;
  padding-top: 1px;
}
.text .line2 {
  width: 259px;
  height: 9px;
  border-radius: 3px;
  border: 1px;
  background-color: rgb(41, 109, 206);
  margin-top: 1px;
  padding-bottom: 2px;
}

.temy {
  display: flex;
}

.number {
  font-size: 38px;
  color: #ffffff;
  font-weight: bold;
}

.text2 {
  font-size: 14px;
  color: #ffffff;
  margin-left: 5px;
  margin-top: 5px;
}

.number2 {
  font-size: 38px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 160px;
}

.text3 {
  font-size: 14px;
  color: #ffffff;
  margin-left: 5px;
  margin-top: 5px;
}

@media only screen and (max-width: 800px) {
  .container {
    display: flex;
  }
  .text h1 {
    font-size: 30px;
    line-height: 33px;
    margin-top: 100px;
  }
  .text h3 {
    font-size: 18px;
    margin-top: -20px;
  }
  .text .bttn {
    width: 159px;
    height: 44px;
    font-size: 12px;
    line-height: 14px;
    font-family: Sarabun;
  }
  .karpachoff {
    display: none;
  }
}
.golowna {
  margin: 20px 10px 0px 10px;
}

.golowna a {
  text-decoration: none;
  color: rgb(151, 159, 173);
  font-size: 16px;
  line-height: 19.49px;
  color: rgb(151, 159, 173);
}

a:hover {
  color: rgb(50, 50, 50);
  font-weight: 500;
  transition: all 50ms;
}

.container .line {
  font-weight: 1px;
  color: rgb(151, 159, 173);
  margin-top: 20px;
}
.container .line2 {
  color: rgb(28, 85, 184);
}

.box .container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  max-width: 1600px;
  height: 99px;
  background-color: rgb(250, 250, 250);
}

.line3 {
  color: rgb(34, 43, 58);
  margin-top: 5px;
}

.text4 {
  font-size: 18px;
  font-weight: 500px;
  line-height: 21.92px;
  margin-left: 10px;
  margin-top: 40px;
}

.btn {
  width: 227px;
  height: 44px;
  font-size: 14px;
  line-height: 17px;
  color: rgb(247, 128, 0);
  border: 1px solid rgb(255, 138, 0);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: rgb(41, 109, 206);
  transition: all 500ms;
}

@media only screen and (max-width: 800px) {
  .box .container {
    display: flex;
    flex-direction: column;
  }
  .box {
    max-width: 800px;
  }
  .line3 {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .text4 {
    font-size: 14px;
    font-weight: 500px;
    line-height: 17px;
    display: flex;
  }
  .btn {
    width: 227px;
    height: 44px;
    font-size: 14px;
    line-height: 17px;
  }
}
.content .container {
  height: 203px;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(243, 243, 243);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  margin-bottom: 20px;
}
.content .numb {
  font-size: 64px;
  color: rgb(225, 225, 225);
  font-weight: 700;
  padding: 30px 50px 30px 0px;
}
.content h3 {
  color: rgb(16, 146, 203);
}
.content .age-child {
  font-size: 16px;
  color: rgb(151, 159, 173);
}
.content .modul-text {
  max-width: 799px;
  font-size: 16px;
  color: rgb(105, 105, 105);
  line-height: 27.78px;
}
.content .data {
  color: rgb(0, 0, 0);
  font-weight: 800px;
}
.content .data2 {
  color: rgb(254, 137, 7);
  font-weight: bold;
}

.modul h3 a {
  color: rgb(16, 146, 203);
}

.modul h3 a:hover {
  color: rgb(29, 183, 37);
  transition: all 50ms;
}

.blue {
  width: 121px;
  height: 15px;
}

blue2 {
  width: 87px;
  height: 9px;
}

@media only screen and (max-width: 800px) {
  .content.container {
    display: flex;
    flex-direction: row;
  }
  .container .golowna {
    display: none;
  }
  .numb {
    font-size: 44px;
    color: rgb(225, 225, 225);
    font-weight: 500;
    padding: 10px 25px 10px 0px;
  }
  .modul-text {
    max-width: 400px;
    height: 500px;
    font-size: 12px;
    line-height: 20px;
  }
  .data {
    font-size: 12px;
    font-weight: 400px;
  }
  .data2 {
    font-size: 12px;
    font-weight: 400px;
  }
  .blue {
    width: 61px;
    height: 15px;
    display: none;
  }
  blue2 {
    width: 47px;
    height: 9px;
    display: none;
  }
}
footer {
  background-color: rgb(41, 109, 206);
  height: 350px;
}

.box1 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
}
.box1 .online {
  margin-top: 30px;
}
.box1 .school {
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 29.23px;
}
.box1 a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 19.49px;
}
.box1 .white-line {
  padding-bottom: 10px;
}

.box2 {
  max-width: 1600px;
  height: 47px;
  background-color: rgb(34, 43, 58);
  margin-top: 0px;
}/*# sourceMappingURL=main.css.map */